# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.ipch

# Build folders
Debug/
Release/
x64/
x86/
Build/
bin/
obj/

# User files
*.user
*.suo
*.userosscache
*.sln.docstates

# CMake (もし使うなら)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake